.btn{
    left: 20px;
    top: 20px;
    position: fixed;
    padding: .5rem 1rem;
    border: black 1px solid;
    border-radius: 5px;
    background-color: #fff4;
    color: white
}

.clock{
    left: 80px
}

.task{
    left: 140px;
}

.content {
    display: flex;
    justify-content:center;
    
    align-items: flex-start;
    padding: 20px;
  }
  
  app-timer, app-task {
    flex: 1;
    max-width: 45%;
    padding: 15px;
}