button{
    
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.container{
    text-align: center;
}

.text{
    font-size: 20px
}

.timer{
    font-size: 100px
}
