// @import 'bootstrap/dist/css/bootstrap.min.css'
:root{
    --background-dark: url('/assets/images/night.gif');
    --background-day: url('/assets/images/day.gif');
    --background-work: url('/assets/images/work.gif');
    --background-break: url('/assets/images/break.gif');
}

.light{
    background: var(--background-day) no-repeat center center fixed;
    background-size: cover;
}

.dark{
    background: var(--background-dark) no-repeat center center fixed;
    background-size: cover;
}
.work{
    background: var(--background-work) no-repeat center center fixed;
    background-size: cover;
    
}

.break{
    background: var(--background-break) no-repeat center center fixed;
    background-size: cover; 
}